#bg {
    position: relative;
    height: 896px;
    width: 50%;
    float: right;
    object-fit: cover;
    right: 0px;
    object-position: 55% 0;
    top: 0px;
}

#text-header {
    position: relative;
    top: 30px;
    margin-bottom: 40px;
    font-family: Prompt;
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1.34px;
    width: max-content;
    color: #032D23;
}

.input {
    width: 385px;
    height: 60px;
    position: relative;
    margin-top: 30px;
    border: 2px solid #032D23;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 13px 20px 13px 20px;

    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 34px;
    /* identical to box height, or 189% */
    letter-spacing: 0.33px;
    color: #032D23;
}

.confirm {
    position: relative;
    width: 385px;
    height: 64px;
    margin-top: 30px;
    background: #032D23;
    border-radius: 6px;
    text-align: center;
    font-family: Prompt;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 34px;
    /* identical to box height, or 170% */
    letter-spacing: -0.33px;
    color: #FFFFFF;
}

.confirm:hover {
    background: #157a63;
}

.text {
    font-family: Prompt;
    font-size: 20px;
    margin-top: 15px;
}

.form-control {
    font-family: Prompt;
    font-size: 20px;
    display: -webkit-inline-box;
    margin-right: 50px;
    margin-top: 10px;
}

:root {
    --form-control-color: rebeccapurple;
  }

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;

    margin-right: 10px;

    transform: translateY(0.075em);

    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}