{% extends "base.html" %}
{% load static %}
{% block title %}Create User{% endblock %}
{% block head_css %}
<link href="{% static 'css/create_user.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div class="container">
    <img src="{% static 'images/bg1.jpg' %}" id="bg">
    <div id="text-header">กรอกข้อมูลพนักงาน</div>
    <form method="POST" action="{% url 'qc:create_user' %}" id="create-form">
        {% csrf_token %}
        <select name="role" id="role-input" class="input">
            {% if user.is_superuser %}
            <option value="header" id="header">หัวหน้างาน</option>
            {% endif %}
            <option value="staff" id="staff">พนักงานตรวจสอบ</option>
            <option value="craftsman" id="craftsman">ช่างผลิต</option>
        </select>
        <input type="email" name="email" placeholder="อีเมล" class="input" id="email">
        <input type="text" name="name" placeholder="ชื่อ" class="input" id="name">
        <input type="text" name="lastname" placeholder="นามสกุล" class="input" id="lastname">
        <input type="password" name="password" placeholder="รหัสผ่าน" class="input" id="password">
        <input type="password" name="confirm_password" placeholder="ยืนยันรหัสผ่าน" class="input" id="confirm_password">
    </form>
    <button class="confirm" id="confirm">สร้างข้อมูลพนักงาน</button>
    <button class="confirm" id="cancel">ยกเลิก</button>
</div>


<script>

    var choice = document.getElementById("role-input").value

    document.getElementById("name").value = ""
    document.getElementById("lastname").value = ""
    document.getElementById("email").value = ""
    document.getElementById("password").value = ""
    document.getElementById("confirm_password").value = ""

    $('#cancel').click(function(){
        Swal.fire({
                        title: 'แจ้งเตือน',
                        text: 'ข้อมูลจะไม่ถูกบันทึก',
                        type: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                    }).then( function(){
                        let url = "{% url 'home' %}"
                        window.location.replace(url);
                        }
                    )
    })

    $('#confirm').click(function(){
        if (choice=="header"){
            $('#create-form').submit()
        }
        else if (choice=="staff"){
            if (document.getElementById("name").value == "" ||
                document.getElementById("lastname").value == "" ||
                document.getElementById("email").value == "" ||
                document.getElementById("password").value == "" ||
                document.getElementById("confirm_password").value == ""){
                    Swal.fire({
                        title: 'แจ้งเตือน',
                        text: 'กรอกข้อมูลให้ครบถ้วน',
                        type: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                    })
            }
            else if (document.getElementById("password").value != document.getElementById("confirm_password").value){
                Swal.fire({
                        title: 'แจ้งเตือน',
                        text: 'รหัสผ่านไม่ตรงกัน',
                        type: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                    })
                    document.getElementById("confirm_password").value = ""
            }
            else {
                $('#create-form').submit()
            }
        }
        else if (choice=="craftsman"){
            if (document.getElementById("name").value == "" ||
                document.getElementById("lastname").value == "" ){
                    Swal.fire({
                        title: 'แจ้งเตือน',
                        text: 'กรอกข้อมูลให้ครบถ้วน',
                        type: 'warning',
                        showConfirmButton: false,
                        timer: 2000,
                    })
            }

            else {
                $('#create-form').submit()
            }
        }
    })

    document.getElementById("role-input").addEventListener('change', function(){
        if (this.value == "craftsman"){
            choice = this.value
            document.getElementById("email").style.display = "none"
            document.getElementById("password").style.display = "none"
            document.getElementById("confirm_password").style.display = "none"
        }
        else if (this.value == "staff"){
            choice = this.value
            document.getElementById("email").style.display = "block"
            document.getElementById("password").style.display = "block"
            document.getElementById("confirm_password").style.display = "block"
        }
    })
</script>
{% endblock %}