{% extends "base.html" %}
{% load static %}
{% block title %}Give work{% endblock %}
{% block head_css %}
<link href="{% static 'css/create_user.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<style>
    .input{
        margin-top: 0px;
    }

    #bg{
        height: 1100px;
    }

</style>
<form action="{% url 'qc:give_work' %}" method="POST">
    {% csrf_token %}
    <img src="{% static 'images/bg1.jpg' %}" id="bg">
    <div id="text-header">แจกงาน</div>
    <div class="text">เลือกพนักงานตรวจสอบ</div>
    <select name="staff_id" id="staff-select" class="input" style="margin-top: 5px;">
        {% for staff in staffs %}
        <option value="{{staff.id}}">{{staff.profile.first_name}}  {{staff.profile.last_name}}</option>
        {% endfor %}
    </select>
    <input type="hidden" name="order_id" value="{{order.id}}">
    <div class="text">ช่างที่ส่งมา</div>
    <input type="text" name="craftsman" class="input" placeholder="ช่างที่ส่งมา" value="{{order.craftsman.first_name}} {{order.craftsman.last_name}}" disabled>
    <div class="text">ประเภทงาน</div>
    {% if order.case == "first_time" %}
    <input type="text" name="case" class="input" placeholder="ประเภทงาน" value="ครั้งแรก" disabled>
    {% else %}
    <input type="text" name="case" class="input" placeholder="ประเภทงาน" value="แก้ไขงาน" disabled>
    {% endif %}
    <div class="text">จำนวนชิ้นงาน</div>
    <input type="text" name="number" class="input" placeholder="จำนวนชิ้นงาน" value="{{order.number}}" disabled>
    <div class="text">รูปทรงของงาน</div>
    <input type="text" name="shape" class="input" placeholder="รูปทรงของงาน" value="{{order.shape}}" disabled>
    <div class="text">ขนาดของเพชร</div>
    <input type="text" name="jewelry_size" class="input" placeholder="ขนาดของเพชร" value="{{order.jewelry_size}}" disabled>
    <div class="text">ขนาดชิ้นงาน</div>
    <input type="text" name="product_size" class="input" placeholder="ขนาดชิ้นงาน" value="{{order.product_size}}" disabled>
    <div class="text">ภาพรวม</div>
    <textarea name="overall" class="input" placeholder="ภาพรวม" disabled style="height: 100px;">{{order.overall}}</textarea>
    <input type="submit" value="แจกงาน" class="confirm">
</form>
<button class="confirm" id="cancel">ยกเลิก</button>

<script>

$('#cancel').click(function(){
                let url = "{% url 'qc:manage_order' %}"
                window.location.replace(url);
                })
</script>
{% endblock %}