{% extends "base.html" %}
{% load static %}
{% block title %}Manage Orders{% endblock %}
{% block head_css %}
<link href="{% static 'css/manage_order.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/admin.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<div id="header">
    <div id="header-text">จัดการงาน</div>
</div>
<div class="text">ข้อมูลที่ต้องการดู</div>
<select name="select_case" id="select_case" class="selecter">
    <option value="waiting">งานที่ยังไม่ได้ทำ</option>
    <option value="rejected">งานที่ไม่ผ่าน</option>
    <option value="passed">ผ่านเเล้ว รอแจ้ง</option>
    <option value="completed">แจ้งฝ่ายขายเเล้ว</option>
</select>
<div class="table-wrapper" id="waiting">
    <table>
        <thead>
            <tr>
                <td>หมายเลขติดตาม</td>
                <td>วันที่ได้รับ</td>
                <td>ประเภทงาน</td>
                <td>ช่างที่ส่งมา</td>
                <td>พนักงานที่รับผิดชอบ</td>
                <td>สถานะ</td>
                <td>หมายเหตุ</td>
            </tr>
        </thead>
        <tbody>
            {% for order in waitings %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.created}}</td>
                <td>
                    {% if order.case == "first_time" %}
                        ครั้งแรก
                    {% elif order.case == "edit" %}
                        แก้ไขงาน
                    {% endif %}
                </td>
                <td>{{order.craftman.first_name}}</td>
                <td>{{order.staff.profile.first_name}}</td>
                <td>{{order.status}}</td>
                <td>
                    {% if order.status == "waiting" %}
                    <a href="{% url 'qc:check_order' order_id=order.id %}" class="give-work">ตรวจงาน</button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-wrapper" id="rejected" style="display: none;">
    <table>
        <thead>
            <tr>
                <td>หมายเลขติดตาม</td>
                <td>วันที่ได้รับ</td>
                <td>ประเภทงาน</td>
                <td>ช่างที่ส่งมา</td>
                <td>พนักงานที่รับผิดชอบ</td>
                <td>สถานะ</td>
                <td>หมายเหตุ</td>
            </tr>
        </thead>
        <tbody>
            {% for order in rejecteds %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.created}}</td>
                <td>
                    {% if order.case == "first_time" %}
                        ครั้งแรก
                    {% elif order.case == "edit" %}
                        แก้ไขงาน
                    {% endif %}
                </td>
                <td>{{order.craftman.first_name}}</td>
                <td>{{order.staff.profile.first_name}}</td>
                <td>{{order.status}}</td>
                <td>
                    <a href="{% url 'qc:work_detail' order_id=order.id %}" class="give-work">ดูรายละเอียด</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-wrapper" id="passed" style="display: none;">
    <table>
        <thead>
            <tr>
                <td>หมายเลขติดตาม</td>
                <td>วันที่ได้รับ</td>
                <td>ประเภทงาน</td>
                <td>ช่างที่ส่งมา</td>
                <td>พนักงานที่รับผิดชอบ</td>
                <td>สถานะ</td>
                <td>หมายเหตุ</td>
            </tr>
        </thead>
        <tbody>
            {% for order in passeds %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.created}}</td>
                <td>
                    {% if order.case == "first_time" %}
                        ครั้งแรก
                    {% elif order.case == "edit" %}
                        แก้ไขงาน
                    {% endif %}
                </td>
                <td>{{order.craftman.first_name}}</td>
                <td>{{order.staff.profile.first_name}}</td>
                <td>{{order.status}}</td>
                <td>
                    <a href="{% url 'qc:work_detail' order_id=order.id %}" class="give-work">ดูรายละเอียด</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="table-wrapper" id="completed" style="display: none;">
    <table>
        <thead>
            <tr>
                <td>หมายเลขติดตาม</td>
                <td>วันที่ได้รับ</td>
                <td>ประเภทงาน</td>
                <td>ช่างที่ส่งมา</td>
                <td>พนักงานที่รับผิดชอบ</td>
                <td>สถานะ</td>
                <td>หมายเหตุ</td>
            </tr>
        </thead>
        <tbody>
            {% for order in completeds %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.created}}</td>
                <td>
                    {% if order.case == "first_time" %}
                        ครั้งแรก
                    {% elif order.case == "edit" %}
                        แก้ไขงาน
                    {% endif %}
                </td>
                <td>{{order.craftman.first_name}}</td>
                <td>{{order.staff.profile.first_name}}</td>
                <td>{{order.status}}</td>
                <td>
                    <a href="{% url 'qc:work_detail' order_id=order.id %}" class="give-work">ดูรายละเอียด</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
    document.getElementById("select_case").addEventListener('change', function(){
            if (this.value=="waiting"){
                document.getElementById("waiting").style.display = "block"
                document.getElementById("rejected").style.display = "none"
                document.getElementById("passed").style.display = "none"
                document.getElementById("completed").style.display = "none"
            }
            else if (this.value=="rejected"){
                document.getElementById("waiting").style.display = "none"
                document.getElementById("rejected").style.display = "block"
                document.getElementById("passed").style.display = "none"
                document.getElementById("completed").style.display = "none"
            }
            else if (this.value=="passed"){
                document.getElementById("waiting").style.display = "none"
                document.getElementById("rejected").style.display = "none"
                document.getElementById("passed").style.display = "block"
                document.getElementById("completed").style.display = "none"
            }
            else if (this.value=="completed"){
                document.getElementById("waiting").style.display = "none"
                document.getElementById("rejected").style.display = "none"
                document.getElementById("passed").style.display = "none"
                document.getElementById("completed").style.display = "block"
            }
        })
    
    
</script>
{% endblock %}