{% extends "base.html" %}
{% load static %}
{% block title %}Admin{% endblock %}
{% block head_css %}
{% endblock %}
{% block content %}
<div class="container">
    <form action="{% url 'qc:create_order' %}" method="POST">
        {% csrf_token %}
        <div></div>
        <select name="craftman" id="craftman-select">
            {% for craftman in craftmans %}
            <option value="{{craftman.id}}">{{craftman.first_name}}  {{craftman.last_name}}</option>
            {% endfor %}
        </select>
        <div></div>
        <select name="case" id="case-select">
            <option value="first_time">ครั้งแรก</option>
            <option value="edit">แก้ไข</option>
        </select>
        <div>จำนวนชิ้นงาน</div>
        <input type="text" name="number">
        <div>รูปทรงของงาน</div>
        <input type="text" name="shape">
        <div>ขนาดของเพชร</div>
        <input type="text" name="jewelry_size">
        <div>ขนาดชิ้นงาน</div>
        <input type="text" name="product_size">
        <div>ภาพรวม</div>
        <input type="text" name="overall">
        <input type="submit" value="OK">
    </form>
</div>
{% endblock %}